
{% extends "_layouts/base.html" %}
{% block content %}
<!-- Main page header for a primary marketing message or call to action -->
<div class="page-header">

  <h2>Chicago GNU/Linux User Group</h2>

  <h3>GNU/Linux + Free/Libre & Open Source Software + Fun</h3>
  
  <div class="col-lg-9">

  <p>We are a group of technology and Free software enthusiasts who live in and
  around Chicago, Illinois. While our group primarily focuses on GNU/Linux, our
  members have a broad range of interests and experience, and our ranks include
  users of all major (and less major) operating systems.</p>
  
  <p>We are also a welcoming group. We are a group that welcomes everyone and
  encourages diversity; we encourage participation from members of all age,
  gender, ethnicity, and knowledge levels. If you're curious about Linux and
  Free and open-source software, consider joining us.</p>
  </div>
</div>

<div class="body-content">

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-9">

    <h3>Meeting Information</h3>

    <p>ChicagoLUG meetings and events usually take place at a local 
    technology cooperative or coffee shop. Keep an eye on this site and any of
    our social media outlets for meeting announcements.</p>

    {% for meeting in future_meeting_list %}
        {% include "_layouts/meeting.html" %}
    {% else %}
        <div class="meeting">
        <h3>Next Meeting Date: <em>TBD</em></h3>
        <p>Our next meeting has yet to be announced, which means we're likely
        planning something <a href="https://groups.google.com/forum/#!forum/chicagolinux-discuss">
        on the mailing list</a>. You can also have a look at our list of 
        <a href="{{ url_for('meetings') }}">past meetings</a>.</p>
        </div>
    {% endfor %}
    </div>
    
      <p><a class="btn btn-default" href="http://getbootstrap.com/">View details &raquo;</a></p>
    </div>
<!--    <div class="col-lg-4">
      <h2>SQLAlchemy</h2>
      <p>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">View details &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>WTForms</h2>
      <p>WTForms is a flexible forms validation and rendering library for python web development.</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="#">View details &raquo;</a></p>
    </div> -->
  </div>
{% endblock %}
